.calci-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calci{
    
    height: 350px;
    width: 191px;
}

.calc-btns{
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}
.calc-btns:hover{
    background-color: yellow;
}