
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
}
body{
  background-image: url('assets/weather.jpg'); 
  background-size: cover;           
  background-repeat: no-repeat;     
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}
.box{
  padding: 20px;
 background-color:#000000d0;
 width: 420px;         
 height: 300px;     
  max-width: 400px; 
 color: white;
 border-radius: 30px;
 display: flex;
 flex-direction: column;
justify-content: space-evenly;

}
.search{
  display: flex;
  justify-content: space-around;
}
#city{
padding: 0.4rem 1rem ;
width: 80%;
font-size: medium;
border-radius: 30px;
border: none;
outline: none;
background-color: #7c7c7c2b;
font-family: inherit;
color: whitesmoke;
}
#city:hover,:focus{
  background-color: #000000d0;
  color:whitesmoke;
  cursor: pointer;
}
#Search-Button{
  width: 2.9em;
  height: 2.9em;
 padding: 0.5rem;
 background-color: #7c7c7c2b;
 border: none;
 outline: none;
 border-radius: 50px;
 color: white;
 margin-right: 1.2rem;
 
}
#Search-Button:hover{
  cursor: pointer;
  background-color: #000000d0;
  transition: 0.2s ease-in-out;
}

